ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 1.2em;
    padding: 10px 8px;
}

li:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

a.remove-link {
    color: #f82020;
    position: absolute;
    right: 5px;
    padding: 3px;
    top: calc(40% - 10px);
}

li.mv {
    background-color: #eeeeee;
}
.symbol-holder li {
    border-bottom: 1px solid #CCC;
}

.symbol-holder li {
    padding-right: 20px;
    position: relative;
}

/* a */
ul {
  list-style-type: none;
}

.tile img {
  float: left;
  margin: 0 15px 0 0;
  max-height: 90px;
  max-width: 90px;
  margin: auto 0;
}

.tile {
  padding: 10px;
  overflow: auto;
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  max-height: 100px;
  text-align: left;
  font-size: 13px;
}

.tile .company-name,
.tile .company-details,
.tile .stock-details {
    margin-left: 100px;
}

.tile .company-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

.tile .company-details {
    display: none;
}

.stock-details {
    display: table;
    width: calc(100% - 110px);

}

.stock-details div {
    border: none;
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 8px;
}

.tile + .tile {
    margin-top: 10px;
}