html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  height: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  color: white;
  vertical-align: middle;
  line-height: 50px;
  font-size: large;
}

.container {
  width: 100%;
  height: calc(100% - 50px);
  border-collapse: collapse;
  border-spacing: 0;
}

.symbol-selector {
  border-bottom: 1px solid #aaaaaa;
  padding: 10px 30px;
  height: 40px;
}

.symbol-holder {
  max-width: 300px;
  width: 200px;
  overflow-y: auto;
  height: 100%;
  padding: 0;
  vertical-align: top;
}

.symbol-details {
  overflow-y: auto;
  vertical-align: top;
  padding: 0 10px;
  border-left: 1px solid #aaaaaa;
}